// ==========
// Variables
// ==========


// Fonts
// ==========

// Used for header text.
$h1-font-stack: "Rubik", sans-serif;
$h2-font-stack: "Rubik", sans-serif;
$h3-font-stack: "Rubik", sans-serif;
$h4-font-stack: "Rubik", sans-serif;
$h5-font-stack: "Rubik", sans-serif;
$h6-font-stack: "Rubik", sans-serif;

// Used for body text.
$body-font-stack: "Karla", sans-serif;


// Colors
// ==========

// Standard colors for text and backgrounds.
$white: #FFFFFF;
$black: #313135;
$gray: #EAEAEA;
$light-gray: #FBFBFB;

// Special colors.
$accent: #0396FF;
$danger: #ff6462;
$warning: #ffe066;


// Magic Numbers (Layout and Style Defaults)
// ==========

// Standardized container width.
$container-width: 1000px;

// Breakpoints.
$desktop-breakpoint: 1200px;
$large-tablet-breakpoint: 992px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 576px;

// Keep box shadows standard when using them.
$standard-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2);

// Simple animation duration controller.
$standard-transition-duration: 0.5s;

// Baseline font and line-height.
$baseline-font-size: 12px;
$baseline-line-height: 1.5;  // Changed the line-height here as designers specs made it very hard to read body text.
$baseline-font-size-rem: 1.25rem;

$standard-input-height: 40px;

// Margins.
$margin-large: 100px;
$margin-medium: 40px;
$margin-small: 20px;



// ==========
// Mixins
// ==========

// Adds a fix for very old firefox browsers that allow content to break out of their parent containers.
@mixin moz-border-box-fix{

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



// ==========
// Global Styles
// ==========

html, body{

	// Fallback font.
	font-family: $body-font-stack;

	// Baseline font size and line height.
	font-size: $baseline-font-size;
	line-height: $baseline-line-height;

	// Primary text color.
	color: $black;
}

body{	

	// Optimize legibility for retina devices.
	-webkit-font-smoothing: antialiased !important;
   	text-rendering: optimizelegibility !important;

	// Force normal sizing rules.
	box-sizing: border-box;
	@include moz-border-box-fix;

	// Anchor the content container to the top left.
	position: relative;
	top: 0px;
	left: 0px;

	// Background color for the site.
	background-color: $white;

	p, a, .p, quote, cite{

		// Fallback font.
		font-family: $body-font-stack;

		// Body text is slightly larger than baseline.
		font-size: $baseline-font-size-rem;
		line-height: 1.8;
	}

	// Styles for all (non-navbar) links.
	a:not(.no-link-hover){

		color: $black;

		&:hover{

			color: $accent !important;
			text-decoration: none;
		}

		&.fancy-link{

			color: $accent;
			text-decoration: underline;

			&:after{

				content: ' >>';
			}

			&:hover{

				opacity: 0.6;
			}
		}
	}

	// Make all image and video elements responsive naturally.
	img, video{	

		max-width: 100%;
	}

	// Colors all FontAwesome icons.
	svg{

		color: $accent;
	}
	
	// Site header styles.
	h1, h2, h3, h4, h5, h6{

		// font-weight: bold;
	}

	// Header sizing specifications as per design (sizing specified in pt, I changed to px).
	h1, .h1{

		font-family: $h1-font-stack;
		font-size: 2.5rem;
		margin: 0.67em 0;
	}

	h2, .h2{

		font-family: $h2-font-stack;
		font-size: 2rem;
		margin: 0.83em 0;
	}

	h3, .h3{

		font-family: $h3-font-stack;
		font-size: 1.375rem;
		margin: 1em 0;
	}

	h4, .h4{

		font-family: $h4-font-stack;
		font-size: 1.125rem;
		margin: 1.33em 0;
	}

	h5, .h5{

		font-family: $h5-font-stack;
		font-size: 1rem;
		margin: 1.67em 0;
	}

	h6, .h6{

		font-family: $h6-font-stack;
		font-size: 0.875rem;
		margin: 2.33em 0;
	}

	section{

		margin-top: 60px;
	}

	footer{

		margin-top: 100px;
	}

	
	// Helper classes.
	// =====

	.accent{

		color: $accent;

		&:hover{

			color: $accent;
		}
	}

	.accent-bg{

		background-color: $accent;
	}

	.danger{

		color: $danger;
	}

	.danger-bg{

		background-color: $danger;
	}

	.opaque{

		opacity: 0.6;
	}

	// Restricts the width of a container if it contains body text of sorts.
	.readability-normalize{

		*{

			max-width: 600px;
		}

		p{

			max-width: 450px;
		}
	}

	// This strips lists of annoying margin, padding, and other nonsense.
	.list-stripped{

		list-style: none;
		margin: 0px;
		padding: 0px;
	}


	// Buttons
	// ==========

	.btn{

		height: $standard-input-height;
		min-width: 125px;
		line-height: $standard-input-height;

		padding: 0px 20px;
		border-radius: 3px;

		font-size: $baseline-font-size-rem;

		&:hover{

			opacity: 0.8;
		}

		&.btn-accent{

			background-color: $accent;
			color: $white;

			&:hover{

				color: $white !important;
			}
		}

		&.btn-gray{

			background-color: $gray;
			color: $black;

			&:hover{

				color: $black !important;
			}
		}
	}


	// Form Elements
	// ==========

	form.cfc-form{

		.form-group{


		}

		label{

			display: block;
			font-size: $baseline-font-size-rem;
		}

		input{

			font-size: $baseline-font-size-rem;
			width: 100%;

			&[type="text"], &[type="email"]{

				border-radius: 3px;
				border: 1px solid $gray;
				padding: 8px 15px;
			}

			&[type="submit"]{

				margin-top: 15px;
			}

			&.input-small{

				max-width: 200px;
			}

			&.input-medium{

				max-width: 300px;
			}

			&.input-full{

				max-width: 100%;
			}
		}
	}
}



// ==========
// Layout Styles
// ==========

// Controls the Bootstrap 4 container width.
.container{

	max-width: $container-width;
}


// ==========
// Navigation Styles
// ==========

nav{

	&.bg-light{

		background-color: $white !important;
	}

	&.navbar{

		margin-top: 20px;

		li.nav-item:not(:last-child){

			margin-right: 20px;

			a.nav-link{

				color: $black;
			}
		}
	}
}


// ==========
// Component Styles
// ==========

// Section titles.
.section-title{

	h2{

		margin-top: 0px;
		margin-bottom: $margin-medium;
		padding-bottom: $margin-small;

		border-bottom: 1px solid $gray;

		position: relative;

		&:before{

			content: "#";

			position: absolute;
			left: -23px;

			color: $accent;
			margin-right: 3px;
		}
	}
}

// The "Case Study" component.
.case-study{

	position: relative;

	display: inline-block;
	vertical-align: top;
	max-width: calc(50% - 35px);

	margin-bottom: 60px;

	&:nth-of-type(2n){

		margin-left: 70px;
	}

	h3{

		margin-top: 0px;
	}

	h3 > a{

		margin-left: 10px;
		height: 15px;

		svg{

			color: $black;
			opacity: 0.2;
		}

		&:hover{

			svg{

				opacity: 0.6;
			}
		}
	}

	h3 > span.results{

		position: absolute;
		right: 0px;
		top: -3px;
		font-size: 15px;
		background-color: $gray;
		padding: 5px 10px;

		font-family: $body-font-stack;

		border-radius: 3px;
	}
}


// The "Testimonial" component.
.testimonial{

	position: relative;

	display: inline-block;
	vertical-align: top;
	max-width: calc(50% - 35px);

	margin-bottom: 60px;

	&:nth-of-type(2n){

		margin-left: 70px;
	}

	quote{

		&::before{

			// Styled double quote.
			content: 'â€	';
			line-height: 1;

			transform-origin: top left;
			transform: translate(-10px, -5px) scale(5);

			position: absolute;
			top: 0px;
			left: 0px;

			opacity: 0.1;

			pointer-events: none;
		}
	}

	.citation{

		display: block; 
		margin-top: 15px;

		img, cite{

			display: inline-block;
			vertical-align: middle;
		}

		img{

			max-width: 32.5px;
			// border: 2px solid $accent;
			border-radius: 3px;

			margin-right: 8px;
		}

		cite{

			font-style: normal;
			font-size: 15px;
			line-height: 1.3;

			.business{

				display: block;
			}
		}
	}
}

// ==========
// Homepage Styles
// ==========

body.home{


}

// Hero section on the homepage.
#hero{	

	margin-top: $margin-large;

	h1{

		margin-top: 0px;
	}

	.row{

		// min-height: 550px;
	}

	.link-container{

		margin-top: 30px;

		a:first-child{

			margin-right: 20px;
		}
	}

	#hero-flair-container{

		position: relative;
		height: 365px;
		width: 485px;

		float: right;

		overflow: hidden;

		.overlays{

			> div{

				position: absolute;
				display: block;

				background-color: $white;

				width: 300px;
				height: 400px;

				transform: rotateZ(45deg);

				z-index: 3;
			}

			.overlay1{

				top: -30px;
				left: -145px;
			}

			.overlay2{


				top: 275px;
				left: 165px;
			}
		}

		img{

			position: absolute;
			top: 0px;
			left: 0px;

			// max-height: 400px;

			&.fg{

				z-index: 3;
			}

			&.bg{


			}
		}

		#flares{

			z-index: 1;

			position: absolute;
			left: 0px;
			top: 0px;

			width: 100%;
			height: 100%;

			@keyframes flair-transform{

				0%{

					// Offscreen left.
					transform: translate(0px, 500px) rotateZ(45deg);
					opacity: 0.4;
				}

				80%{

					// Move offscreen right.
					transform: translate(500px, -100px) rotateZ(45deg);
					opacity: 0.4;
				}

				90%{

					// Lower opacity.
					opacity: 0.0;
					transform: translate(500px, -100px) rotateZ(45deg);
				}

				95%{

					// Keep opacity low, and reset position.
					opacity: 0.0;
					transform: translate(0px, 500px) rotateZ(45deg);
				}

				100%{

					// Re-initialize opacity.
					opacity: 0.4;
					transform: translate(0, 500px) rotateZ(45deg);
				}
			}

			.flair{

				animation-duration: 1.7s;
  				animation-iteration-count: infinite;

  				// Moderately fast, then very slow, then speed up to ultra fast to finish.
  				// animation-timing-function: cubic-bezier(1.0, 1.0, 0.5, 0.1);
  				animation-timing-function: linear;
  				animation-name: flair-transform;

  				transform: translate(0px, 500px) rotateZ(45deg);

  				position: absolute;
  				// bottom: 0px;
  				// left: 0px;
  				display: inline-block;
  				width: 15px;
  				height: 50px;

  				background-color: white;
  				border-radius: 10px;

  				&:nth-of-type(1){

					animation-name: flair-transform;
					transform-origin: top left;
					left: -120px;
					animation-delay: 0s;
					
					width: 10px;

					// background-color: red;
				}

				&:nth-of-type(2){

					left: -60px;
					animation-delay: 3.3s;

					// width: 15px;
				}

				&:nth-of-type(3){

					left: -20px;
					animation-delay: 2.2s;
					width: 10px;
				}

				&:nth-of-type(4){

					left: 20px;
					animation-delay: 5.5s;
				}

				&:nth-of-type(5){

					left: 60px;
					animation-delay: 1.1s;

					// width: 15px;
				}

				&:nth-of-type(6){

					left: 100px;
					animation-delay: 2.8s;

					// width: 10px;
				}

				&:nth-of-type(7){

					left: 140px;
					animation-delay: 6.6s;
					// width: 8px;
				}
			}
		}

		.filter{

			background-image: linear-gradient(135deg, rgba(3, 150, 255, 0.7) 10%, rgba(3, 150, 255, 0.7) 100%);

			position: absolute;
			top: 0px;
			left: 0px;

			width: 100%;
			height: 100%;

			z-index: 2;
		}
	}
}

// Brands section on the homepage.
#brands{

	// margin-top: $margin-medium;

	#brands-container{

		img.brand-image{

			display: inline-block;
			vertical-align: middle;
			max-width: calc((100% - (60px * 4)) / 5);


			filter: grayscale(100%);

			opacity: 0.4;

			margin-right: 60px;

			&:last-child{

				margin-right: 0px;
			}
		}
	}
}

// Process section on the homepage.
section#process{

	// margin-top: $margin-medium;

	a.btn{

		margin-top: 30px;
	}
}

// Case studies section on the homepage.
section#case-studies{


}

// Testimonials section on the homepage.
section#testimonials{


}

// The section that shows the newsletter.
section#footer-newsletter{

	margin-top: $margin-large;

	.asterisk-content{

		margin-top: $margin-medium;
	}
}

// The global site footer.
footer{

	background-color: $light-gray;

	padding-top: 60px;

	h2{

		margin-top: 0px;
	}

	.footer-nav{

		.footer-nav-item{

			display: inline-block;
			vertical-align: top;

			max-width: calc((100% - (50px * 3)) / 3);
			width: 100%;

			margin-left: 50px;

			&:not(:first-of-type){

				
			}

			.title{

				margin-top: 0px;
				margin-bottom: 25px;
			}

			ul{

				li{

					margin-bottom: 10px;

					a{

						line-height: 1.2;
					}
				}
			}
		}
	}

	#copyright{

		background-color: $gray;
		padding: 15px 0px;

		margin-top: 40px;

		p{

			margin: 0px;
		}

		a:first-child{

			margin-right: $margin-small;
		}
	}
}








