// ==========
// Variables
// ==========


// Fonts
// ==========

// Used for header text.
$h1-font-stack: "Rubik", sans-serif;
$h2-font-stack: "Rubik", sans-serif;
$h3-font-stack: "Rubik", sans-serif;
$h4-font-stack: "Rubik", sans-serif;
$h5-font-stack: "Rubik", sans-serif;
$h6-font-stack: "Rubik", sans-serif;

// Used for body text.
$body-font-stack: "Karla", sans-serif;


// Colors
// ==========

// Standard colors for text and backgrounds.
$white: #FFFFFF;
$black: #313135;
$gray: #EAEAEA;

// Special colors.
$accent: #0396FF;
$danger: #ff6462;
$warning: #ffe066;


// Magic Numbers (Layout and Style Defaults)
// ==========

// Standardized container width.
$container-width: 950px;

// Breakpoints.
$desktop-breakpoint: 1200px;
$large-tablet-breakpoint: 992px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 576px;

// Keep box shadows standard when using them.
$standard-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2);

// Simple animation duration controller.
$standard-transition-duration: 0.5s;

// Baseline font and line-height.
$baseline-font-size: 12px;
$baseline-line-height: 1.5;  // Changed the line-height here as designers specs made it very hard to read body text.
$baseline-font-size-rem: 1.25rem;

$standard-input-height: 40px;


// ==========
// Mixins
// ==========

// Adds a fix for very old firefox browsers that allow content to break out of their parent containers.
@mixin moz-border-box-fix{

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



// ==========
// Global Styles
// ==========

html, body{

	// Fallback font.
	font-family: $body-font-stack;

	// Baseline font size and line height.
	font-size: $baseline-font-size;
	line-height: $baseline-line-height;

	// Primary text color.
	color: $black;
}

body{

	// Optimize legibility for retina devices.
	-webkit-font-smoothing: antialiased !important;
   	text-rendering: optimizelegibility !important;

	// Force normal sizing rules.
	box-sizing: border-box;
	@include moz-border-box-fix;

	// Anchor the content container to the top left.
	position: relative;
	top: 0px;
	left: 0px;

	// Background color for the site.
	background-color: $white;

	p, a, .p{

		// Fallback font.
		font-family: $body-font-stack;

		// Body text is slightly larger than baseline.
		font-size: $baseline-font-size-rem;
		line-height: 1.8;
	}

	// Styles for all (non-navbar) links.
	a:not(.no-link-hover){

		color: $black;

		&:hover{

			color: $accent !important;
			text-decoration: none;
		}
	}

	// Make all image and video elements responsive naturally.
	img, video{	

		max-width: 100%;
	}

	// Colors all FontAwesome icons.
	svg{

		color: $accent;
	}
	
	// Site header styles.
	h1, h2, h3, h4, h5, h6{

		// font-weight: bold;
	}

	// Header sizing specifications as per design (sizing specified in pt, I changed to px).
	h1, .h1{

		font-family: $h1-font-stack;
		font-size: 2.5rem;
		margin: 0.67em 0;
	}

	h2, .h2{

		font-family: $h2-font-stack;
		font-size: 2rem;
		margin: 0.83em 0;
	}

	h3, .h3{

		font-family: $h3-font-stack;
		font-size: 1.375rem;
		margin: 1em 0;
	}

	h4, .h4{

		font-family: $h4-font-stack;
		font-size: 1.125rem;
		margin: 1.33em 0;
	}

	h5, .h5{

		font-family: $h5-font-stack;
		font-size: 1rem;
		margin: 1.67em 0;
	}

	h6, .h6{

		font-family: $h6-font-stack;
		font-size: 0.875rem;
		margin: 2.33em 0;
	}

	
	// Helper classes.
	// =====

	.accent{

		color: $accent;

		&:hover{

			color: $accent;
		}
	}

	.accent-bg{

		background-color: $accent;
	}

	.danger{

		color: $danger;
	}

	.danger-bg{

		background-color: $danger;
	}

	.opaque{

		opacity: 0.6;
	}

	// Restricts the width of a container if it contains body text of sorts.
	.readability-normalize{

		*{

			max-width: 600px;
		}

		p{

			max-width: 450px;
		}
	}

	// Helper class that centers a .row vertically within a fixed height .container.
	.vcenter{

		display: flex;

		.row{

			align-items: center;
		}
	}


	// Buttons
	// ==========

	.btn{

		height: $standard-input-height;
		min-width: 125px;
		line-height: $standard-input-height;

		padding: 0px 20px;
		border-radius: 3px;

		font-size: $baseline-font-size-rem;

		&:hover{

			opacity: 0.8;
		}

		&.btn-accent{

			background-color: $accent;
			color: $white;

			&:hover{

				color: $white !important;
			}
		}
	}
}



// ==========
// Layout Styles
// ==========

// Controls the Bootstrap 4 container width.
.container{

	max-width: $container-width;
}



// ==========
// Navigation Styles
// ==========

nav{

	&.bg-light{

		background-color: $white !important;
	}

	&.navbar{

		margin-top: 20px;

		li.nav-item:not(:last-child){

			margin-right: 20px;

			a.nav-link{

				color: $black;
			}
		}
	}
}



// ==========
// Theming 
// ==========

// Coming soon.



// ==========
// Component Styles
// ==========

// Coming soon.



// ==========
// Homepage Styles
// ==========

body.home{


}

// Main section on the homepage.
#main{

	h1{

		margin-top: 0px;
	}

	.row{

		min-height: 600px;
	}

	.link-container{

		margin-top: 30px;
	}

	#hero-flair-container{

		position: relative;
		height: 390px;
		width: 485px;

		float: right;

		overflow: hidden;

		img{

			position: absolute;
			top: 0px;
			left: 0px;

			// max-height: 400px;

			&.fg{

				z-index: 3;
			}

			&.bg{


			}
		}

		#flares{

			z-index: 1;

			position: absolute;
			left: 0px;
			top: 0px;

			width: 100%;
			height: 100%;

			@keyframes flair-transform{

				0%{

					// Offscreen left.
					transform: translate(0px, 500px) rotateZ(45deg);
					opacity: 0.4;
				}

				80%{

					// Move offscreen right.
					transform: translate(500px, -100px) rotateZ(45deg);
					opacity: 0.4;
				}

				90%{

					// Lower opacity.
					opacity: 0.0;
					transform: translate(500px, -100px) rotateZ(45deg);
				}

				95%{

					// Keep opacity low, and reset position.
					opacity: 0.0;
					transform: translate(0px, 500px) rotateZ(45deg);
				}

				100%{

					// Re-initialize opacity.
					opacity: 0.4;
					transform: translate(0, 500px) rotateZ(45deg);
				}
			}

			.flair2{

				animation-duration: 1.7s;
  				animation-iteration-count: infinite;

  				// Moderately fast, then very slow, then speed up to ultra fast to finish.
  				// animation-timing-function: cubic-bezier(1.0, 1.0, 0.5, 0.1);
  				animation-timing-function: linear;
  				animation-name: flair-transform;

  				transform: translate(0px, 500px) rotateZ(45deg);

  				position: absolute;
  				// bottom: 0px;
  				// left: 0px;
  				display: inline-block;
  				width: 15px;
  				height: 50px;

  				background-color: white;
  				border-radius: 10px;

  				&:nth-of-type(1){

					animation-name: flair-transform;
					transform-origin: top left;
					left: -120px;
					animation-delay: 0s;
					
					width: 10px;

					// background-color: red;
				}

				&:nth-of-type(2){

					left: -60px;
					animation-delay: 3.3s;

					// width: 15px;
				}

				&:nth-of-type(3){

					left: -20px;
					animation-delay: 2.2s;
					width: 10px;
				}

				&:nth-of-type(4){

					left: 20px;
					animation-delay: 5.5s;
				}

				&:nth-of-type(5){

					left: 60px;
					animation-delay: 1.1s;

					// width: 15px;
				}

				&:nth-of-type(6){

					left: 100px;
					animation-delay: 2.8s;

					// width: 10px;
				}

				&:nth-of-type(7){

					left: 140px;
					animation-delay: 6.6s;
					// width: 8px;
				}
			}
		}

		.filter{

			background-image: linear-gradient(135deg, rgba(3, 150, 255, 0.7) 10%, rgba(3, 150, 255, 0.7) 100%);

			position: absolute;
			top: 0px;
			left: 0px;

			width: 100%;
			height: 100%;

			z-index: 2;
		}
	}
}






