<main id="main" role="main" class="container single">

  <div class="row">
    
    <div class="col-md-12">

      <ul class="breadcrumbs list-stripped">
        
        <li class="parent"><a href="/articles">All Articles</a></li>
        <li class="current">The Ultimate Freelancing Guide</li>

      </ul>
      
      <div class="page-title">

        <ul class="list-stripped tags">
          
          <li><a href="#">#business</a></li><li><a href="#">#freelance</a></li>

        </ul>

      	<h1><span class="highlight">Case Study: </span><%= title %> <a id="download" href="#" class="btn btn-gray"><i class="far fa-file-download"></i>Download as PDF</a></h1>

        <p class="author">By Marc McDougall</p>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-7">

      <div class="readability-normalize">
      	
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis. Amet mauris commodo quis imperdiet massa tincidunt nunc. Habitant morbi tristique senectus et netus et. Nullam vehicula ipsum a arcu. Donec ac odio tempor orci dapibus. In arcu cursus euismod quis viverra nibh cras pulvinar. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Enim tortor at auctor urna nunc id. Tellus in hac habitasse platea dictumst vestibulum.</p>

       <h2><a name="introduction" class="anchor">Introduction</a></h2>

      	<ul>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      		<li>This is another list item that's much longer and hopefully uses the next line as well (need just a bit more).</li>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      	</ul>

    		<p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>

    		<img src="./assets/img/me-coffee.jpg" />

    		<h3>This is a title.</h3>

    		<p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>

    		<p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>

        <h2><a name="marketing" class="anchor">Marketing your freelance business</a></h2>

        <p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>


      </div>

    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">
      
      <div class="article-navigation">

          <h4 class="h3 navigation-label">Jump to a specific topic&hellip;</h4>
          
          <ol class="list-stripped-padding">
            
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#">Getting started in Freelance</a>

              <ol class="list-stripped">
                
                <li><a href="#">Your first client</a></li>
                <li><a href="#">Every client after your first client</a></li>
                <li><a href="#">The very last client that you will ever need in this world and the next</a></li>

              </ol>

            </li>
            <li><a href="#">What are people buying, anyway?</a></li>
            <li><a href="#">The mechanics of a sale</a></li>
            <li><a href="#">Understanding humans generally</a></li>
            <li><a href="#marketing">Marketing your Freelance business</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Getting started in Freelance</a>

              <ol class="list-stripped">
                
                <li><a href="#">Your first client</a></li>
                <li><a href="#">Every client after your first client</a></li>
                <li><a href="#">The very last client that you will ever need in this world and the next</a></li>

              </ol>

            </li>
            <li><a href="#">What are people buying, anyway?</a></li>
            <li><a href="#">The mechanics of a sale</a></li>
            <li><a href="#">Understanding humans generally</a></li>
            <li><a href="#">Marketing your Freelance business</a></li>

          </ol>

      </div>

    </div>

  </div>

</main><!-- /.#main -->