<main id="main" role="main" class="container page-2-columns-fixed">

  <div class="row">
    
    <div class="col-12 readability-normalize">
      
      <div class="page-title">

      	<h1><%= title %></h1>

      </div>

    </div>

  </div>

  <div class="row">

    <!-- This is the main content. -->
    <div class="col-md-6">

      <div class="readability-normalize">

        <p>The best way to get in touch is to fill out this form, though I know many of you geezers still prefer email & phone, so you can find that off to the right. &nbsp;😉</p>
      	
      	<form class="cfc-form">
                
          <div class="form-group">
            
            <label for="fullName"><span class="required">*</span>Full Name:</label>
            <input type="text" name="fullName" class="input-full" placeholder="Elon Musk" required />

          </div>

          <div class="form-group">
            
            <label for="email"><span class="required">*</span>Email:</label>
            <input type="email" name="email" class="input-medium" placeholder="elon@tesla.com" required/>

          </div>

          <div class="form-group">
            
            <label for="phone">Phone #:</label>
            <input type="phone" name="phone" class="input-medium" placeholder="+1(678)-680-2106" />

          </div>

          <div class="form-group">
            
            <label for="description"><span class="required">*</span>Briefly describe your project:</label>
            <textarea name="description" placeholder="So my website isn’t doing what I want it to do&hellip;" required></textarea>

          </div>

          <div class="form-group">
            
            <label for="timeline">When are you looking to start this project?</label>
            <input type="text" name="timeline" class="input-full" placeholder="As soon as possible &mdash; this is business-critical for us."/>

          </div>

          <div class="form-group">
            
            <label for="investment"><span class="required">*</span>Share what you belive is a fair investment for this project:</label>
            <input type="text" name="investment" class="input-full" placeholder="We can't afford to spend more than $150,000 on this." required/>

          </div>

          <div class="form-group">
            
            <label for="authority"><span class="required">*</span>Are you authorized to commission work for your organization?</label>

            <input type="radio" name="authority" value="yes" id="authority-yes" />
            <label class="checkbox-label" for="authority-yes">I am the person who is going to be held <strong>internally accountable</strong> for the results of this project, and nobody above me can “veto” my hiring decisions.</label>

            <input type="radio" name="authority" value="no" id="authority-no" checked /> 
            <label class="checkbox-label" for="authority-no"><strong>I am not this person</strong>, however I can and will put you in touch with them if there's a good fit.</label>

          </div>

          <input type="submit" name="submit" class="btn btn-accent input-small" value="Let's Do This">

        </form>

      </div>

    </div>

    <div class="col-lg-2 col-md-1 d-none d-md-block"></div>

    <!-- This is the fixed content. -->
    <div class="col-lg-4 col-md-5">
      
      <div class="sidebar-content">

        <h3>Basic Contact Details</h3>
        
        <div class="contact-options">

          <div class="contact-option">
            
            <label>Phone</label>
            <p><a href="tel:+1(678)680-2106">+1(678)680-2106</a></p>

          </div>
        
          <div class="contact-option">
            
            <label>Email</label>
            <p><a href="mailto:marc@clarityfirst.co">marc@clarityfirst.co</a></p>

          </div>

          <div class="contact-option">
            
            <label>Schedule a Consultation</label>
            <p><a href="https://calendly.com/kbs-marc/initial-consultation/" class="fancy-link" target="_blank">My Live Calendar</a></p>

          </div>
        
        </div>

      </div><div class="sidebar-content availability-widget partial">

        <h3>Current Availability <span class="monitor"></span></h3>
        
        <div class="capacity-bar">
          
          <span class="capacity-indicator">

        </div>

        <p>As of <strong>February 4th 2020</strong>, I am <span class="accent"><span class="show-partial">partially </span><span class="show-unavailable">un</span>available</span> for new projects.  <span class="show-unavailable">Feel free to reach out, but please expect some delays.</span></p>

      </div>
      
    </div>

  </div>

</main><!-- /.#main -->