<main id="main" role="main" class="container page-2-columns">

  <div class="row">
    
    <div class="col-12 readability-normalize">
      
      <div class="page-title">

      	<h1><%= title %></h1>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="readability-normalize">
      	
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis. Amet mauris commodo quis imperdiet massa tincidunt nunc. Habitant morbi tristique senectus et netus et. Nullam vehicula ipsum a arcu. Donec ac odio tempor orci dapibus. In arcu cursus euismod quis viverra nibh cras pulvinar. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Enim tortor at auctor urna nunc id. Tellus in hac habitasse platea dictumst vestibulum.</p>

      	<ul>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      		<li>This is another list item that's much longer and hopefully uses the next line as well (need just a bit more).</li>
      		<li>This is a list item.</li>
      		<li>This is a list item.</li>
      	</ul>

    		<p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>

    		<img src="./assets/img/me-coffee.jpg" />

      </div>

    </div>

    <div class="col-md-6">
      
      <h3>This is a title.</h3>

      <p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>

      <p>Non odio euismod lacinia at quis risus. Sit amet commodo nulla facilisi nullam vehicula ipsum. Augue eget arcu dictum varius duis at consectetur lorem donec. Velit dignissim sodales ut eu sem integer vitae justo eget. Et odio pellentesque diam volutpat. Praesent elementum facilisis leo vel fringilla est. Sed adipiscing diam donec adipiscing tristique risus nec feugiat in. Massa enim nec dui nunc mattis enim ut tellus elementum. Aliquet lectus proin nibh nisl. Elit sed vulputate mi sit amet mauris. Mauris ultrices eros in cursus turpis massa tincidunt. In nibh mauris cursus mattis molestie. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Dignissim enim sit amet venenatis. Felis bibendum ut tristique et egestas quis. Amet luctus venenatis lectus magna. Sagittis eu volutpat odio facilisis mauris sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus.</p>
      
    </div>

  </div>

</main><!-- /.#main -->