	<div id="copyright" class="opaque">
				
		<div class="container">

			<div class="row">
				
				<div class="col-sm-6">
					
					<p>&copy; 2020 Clarity-First Consulting</p>

				</div>

				<div class="col-sm-6">
					
					<p class="text-right"><a href="/credits">Credits</a><a href="/terms">Terms &amp; Conditions</a></p>

				</div>

			</div>

		</div>	

	</div>

</footer>

	<div id="bottom-bar">

		<div class="container">

			<%- include('../../components/toast'); %>

			<% if (includeContactWidget) { %>

				<%- include('../../components/contact-widget'); %>

			<% } %>

		</div>

	</div>

</div> <!-- !#wrapper -->


	<!-- Bootstrap core JavaScript (with jQuery and Popper.js)
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Main site Javascript. -->
    <script type="text/javascript" src="./dependencies/main.js"></script>

  </body>
</html>