	
	<section id="footer-newsletter" class="container">

		<div class="row">
	        
            <div class="col-md-12">

                <div class="section-title">
                    
                    <h2><strong>Like what you see</strong>, but not quite ready to chat?</h2>

                </div>

            </div>

        </div>

        <div class="row">
	        
            <div class="col-md-6">

            	<p>Check out for my no-nonsense<span class="accent"><strong>*</strong></span> weekly newsletter, packed with <em>actionable</em> insights on how to turn your SAAS site into a <span class="accent">conversion machine</span>.</p>

            	<p class="asterisk-content"><span class="accent">*</span> <span class="opaque"><em>I do this for a living — I will treat your email with respect.</em></span></p>

            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">

            	<form class="cfc-form">
            		
            		<div class="form-group">
            			
            			<label for="FNAME">First Name:</label>
            			<input type="text" name="FNAME" class="input-full" placeholder="Elon" />

            		</div>

            		<div class="form-group">
            			
            			<label for="EMAIL">Email:</label>
            			<input type="email" name="EMAIL" class="input-full" placeholder="elon@spacex.com" />

            		</div>

            		<input type="submit" name="submit" class="btn btn-accent input-small" value="Spam my Inbox ;)" />

            	</form>

            </div>

        </div>	

	</section>

	<footer>

		<div class="container">

			<div class="row">
				
				<div class="col-md-4">
					
					<h2><em>When you need a SAAS site that converts, <span class="accent">start with clarity</span>.</em></h2>

				</div>

				<div class="col-md-8">
					
					<div class="footer-nav">
						
						<div class="footer-nav-item">

							<p class="h3 title">Company</p>

							<ul class="list-stripped">
								
								<li><a href="/story">My Story (So Far)</a></li>
								<li><a href="/process">My Process</a></li>
								<li><a href="/testimonials">Client Testimonials</a></li>
								<li><a href="/story">Contact Me</a></li>
								<li><a href="/partnerships">Industry Partnerships</a></li>

							</ul>

						</div><div class="footer-nav-item">

							<p class="h3 title">Learn</p>

							<ul class="list-stripped">
								
								<li><a href="/story" target="blank">Live Website Redesigns</a></li>
								<li><a href="/process">The Ultimate Guide to Freelancing </a></li>
								<li><a href="/testimonials">All Articles</a></li>

							</ul>

						</div><div class="footer-nav-item">

							<p class="h3 title">Let's Talk</p>

							<ul class="list-stripped">
								
								<li><a href="/story">+1(678)-680-2106</a></li>
								<li><a href="/process">marc@clarityfirst.co</a></li>
								<li><a href="/testimonials" class="fancy-link">Schedule A Consult</a></li>

							</ul>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div id="copyright" class="opaque">
			
			<div class="container">

			<div class="row">
				
				<div class="col-md-4">
					
					<p>&copy; 2020 Clarity-First Consulting</p>

				</div>

				<div class="col-md-8">
					
					<p class="text-right"><a href="/credits">Credits</a><a href="/terms">Terms &amp; Conditions</a></p>

				</div>

			</div>

		</div>

		</div>

	</footer>

	<!-- Bootstrap core JavaScript (with jQuery and Popper.js)
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Main site Javascript. -->
    <script type="text/javascript" src="./dependencies/main.js"></script>

  </body>
</html>