<%- include('../templates/partials/header') %>

    <main id="main" role="main" class="container vcenter">

      <div class="row">
        
        <div class="col-8">
          
          <div class="readability-normalize">

	          <h1>I build marketing sites for SAAS companies that turn traffic into <span class="accent">customers</span>.</h1>
	          <p>Together, we’ll design a SAAS signup flow for your product that your customers won’t be able to resist.</p>

	          <div class="link-container">
	          	
	          	<a href="/contact" class="btn btn-accent">Get In Touch</a>

	          </div>

          </div>

        </div>

        <div class="col-4">
        	
        	<div id="hero-flair-container">

        		<img src="./assets/img/kp.jpg" />
        		
        	</div>

        </div>

      </div>

    </main><!-- /.#main -->

<%- include('../templates/partials/footer') %>