<%- include('../templates/partials/header') %>

    <main id="main" role="main" class="container" style="margin-top: 250px;">

      <div class="row">
        
        <div class="col-12 readability-normalize">
          
          <h1>Kilobyte Studios bootstrap starter project.</h1>
          <p>Use this document as a way to quickly start any new project &mdash; all you get is this text and a mostly barebones HTML document.</p>

          <p>Have fun.</p>

        </div>

      </div>

    </main><!-- /.#main -->

<%- include('../templates/partials/footer') %>