<div class="archive-item article">
	
	<ul class="list-stripped tags">
		
		<li><a href="#">#business</a></li>
		<li><a href="#">#freelance</a></li>
	</ul>

	<h3><a href="/single-article">The Ultimate Guide to Freelancing</a></h3>
	<p class="description">A quick blurb about the article to help people understand if they’d like to read more.</p>

	<p class="bottom-content"><a href="/single-article" class="fancy-link">Read Article</a><span class="read-time">~5 Minute Read</span></p>

</div>