<div class="case-study archive-item readability-normalize">
                        
    <h3>BizNews<a href="http://biznews.com" target="_blank"><i class="fas fa-external-link"></i></a> <span class="results">Up <strong>500 signups</strong> / mo.</span></h3>
    <p>A quick blurb about the case study to help people understand if they’d like to read more.  Also, a bit more text to flesh out the field.</p>

    <a href="/single-case-study" class="fancy-link">Read More</a>

</div>