<div id="contact-widget">
	
	<a class="toggler" href="#"><i class="far fa-paper-plane"></i></a>

	<div class="content">
		
		<p class="h3">Get In Touch<span class="toggler close"></span></p>

		<div class="contact-options">

			<div class="contact-option">
				
				<label>Phone</label>
				<p><a href="tel:+1(678)680-2106">+1(678)680-2106</a></p>

			</div>
		
			<div class="contact-option">
				
				<label>Email</label>
				<p><a href="mailto:marc@clarityfirst.co">marc@clarityfirst.co</a></p>

			</div>

			<div class="contact-option">
				
				<label>Schedule a Consultation</label>
				<p><a href="https://calendly.com/kbs-marc/initial-consultation/" class="fancy-link" target="_blank">My Live Calendar</a></p>

			</div>
		
		</div>

	</div>

</div>