<div class="faq archive-item">
                        
    <h3><strong>Q:</strong> How do you price your projects?</h3>
    <p>A quick blurb about the case study to help people understand if they’d like to read more.  Also, a bit more text to flesh out the field.</p>

    <ul class="list-stripped">
    	
    	<li>Related: <a href="/pricing" class="fancy-link">How I price my work</a></li>
    	<li>Related: <a href="/pricing" class="fancy-link">What's in a website, anyway?</a></li>

    </ul>

</div>