<div class="testimonial archive-item readability-normalize">
                            
    <quote>"It was a pleasure working with Marc. What sets Marc apart from the rest is his thoroughness to learn and understand what is best for your business. He is an asset to any project you work on together. Looking forward to doing more work in the future."</quote>
    <div class="citation">

        <img src="./assets/img/testimonials/alec-hogg.jpg"/>
        <cite><h3>Alec Hogg</h3><span class="business opaque">BizNews</span></cite>

    </div>

</div>