<div id="toast">
	
	<div class="toast-container">
		
		<a href="#" class="close light"></a>
		<p class="toast-title"><strong>What?</strong>  You don’t want my email address first??</p>	

		<div class="toast-content">

			<p>Nope!  I only want email subscribers that genuinely want to hear from me…so just enjoy those sexy insights for free. 😎</p>	

		</div>

	</div>

</div>